h1 {
  color: pink;
  font-family: Helvetica;
}


p{
  color:blue
}


/* 2 other ways to select elements on my page */
/* id - is used to target only one element */
#first-name {
  border-width: 0px;
  border-bottom: dotted grey thin;
}

/* class - are meant to be reused */
body{
  background: #30e8bf; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #30e8bf, #ff8235); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #30e8bf, #ff8235); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
