<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>




<form class="" action="/" method="post">
  <textarea name="names" class="textArea" placeholder="Names separated by commas" rows="8" cols="80"></textarea>
  <input type="submit" value="Pick Winner">
</form>



<% if(name) { %>
  <h1><%= name %></h1>
<% } %>





  </body>
</html>
