<% include ./partials/header %>


  <form method="POST" action="/task">
    <div class="">
      <label for="">Title</label>
      <input type="text" name="task" value="">
    </div>

    <div>
      <input type="submit" name="" value="submit">
    </div>
  </form>


  <% include ./partials/footer %>
