<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>NOT error</title>
</head>

<body>

  <nav>
    <a href="/">Home</a> |
    <a href="/show">To Dos</a> |
  </nav>

  <form method="POST" action="/task">
    <div class="">
      <label for="">Title</label>
      <input type="text" name="task" value="">
    </div>

    <div>
      <input type="submit" name="" value="submit">
    </div>
  </form>




</body>

</html>
